{% extends 'index/index.html' %}
{% block meta_title_about %}
    <title>Actualizar Bibliografia</title>
{% endblock meta_title_about %}

{% block header_index %}
{% endblock header_index %}

{% block templates %}

    <form action={% url 'upLoadBibliography' bibliography.id %} method="post">
    {% csrf_token %}
       <table>
            {{formBiblio.as_table}}
        </table>
        <button class="btn btn-primary" type="submit">Actualizar</button>
    </form>  
    
{% endblock templates %}
